/* Importando fontes */
@font-face {
    font-family: 'Ubuntu-Bold';
    src: url(../assets/fonts/Ubuntu-Bold.ttf) format('truetype');
    font-weight: 700;
}

@font-face {
    font-family: 'Ubuntu-Medium';
    src: url(../assets/fonts/Ubuntu-Medium.ttf) format('truetype');
    font-weight: 500;
}

@font-face {
    font-family: 'Ubuntu-Regular';
    src: url(../assets/fonts/Ubuntu-Regular.ttf) format('truetype');
    font-weight: 400;
}

body {
    background-color: var(--magnolia);
}
:root {
    /* Primary */
    --marina-blue: hsl(213, 96%, 18%);
    --purpish-blue: hsl(243, 100%, 62%);
    --pastel-blue:  hsl(228, 100%, 84%);
    --light-blue:  hsl(206, 94%, 87%);
    --strawberry-red: hsl(354, 84%, 57%);

   /* Neutral */
    --cool-gray: hsl(231, 11%, 63%);
    --light-gray: hsl(229, 24%, 87%);
    --magnolia: hsl(217, 100%, 97%);
    --alabaster: hsl(231, 100%, 99%);
    --white: hsl(0, 0%, 100%); 
}

.sidebar {
    background-image: url(../assets/images/bg-sidebar-mobile.svg);
    height: 20vh;
}

.sidebar-content {
    display: flex;
    justify-content: center;
    padding: 2em;
    gap: 1em;
    color: var(--white);
    font-family: 'Ubuntu-Medium', sans-serif;
}

.step-active {
    background-color: var(--light-blue);
    padding: 1em;
    border-radius: 50%;
    width: 25px;
    height: 25px;
    display: flex;
    justify-content: center;
    align-items: center;
    color: var(--marina-blue);
    font-family: 'Ubuntu-Medium', sans-serif;
    border: none;
}

.circle {
    padding: 1em;
    border-radius: 50%;
    width: 5px;
    height: 5px;
    display: flex;
    justify-content: center;
    border: 1px solid var(--light-blue);
    align-items: center;
}

.step-content {
    display: none;
}

.step-box {
    background-color: white;
    width: 90vw;
    margin: auto;
    padding: 1em;
    height: 50vh;
    margin-top: -4.4em;
    border-radius: 1em;
    display: flex;
    flex-direction: column;
    justify-content: space-around;
}

.btn {
    background-color: white;
    margin-top: 10em;
    display: flex;
    justify-content: flex-end;
    padding: 1.5em;
}

.next-step {
    background-color: var(--marina-blue);
    padding: 0.8em;
    border-radius: 0.3em;
    color: white;
    font-family: 'Ubuntu-Medium', sans-serif;
    border: none;
}

.title {
    font-family: 'Ubuntu-Bold', sans-serif;
    color: var(--marina-blue);
    margin-bottom: 1em;
}

.description {
    font-family: 'Ubuntu-Regular', sans-serif;
    font-size: 1.1em;
    color: var(--cool-gray);
}

.inputs-box {
    display: flex;
    flex-direction: column;
    padding: 1em;
}

.inputs {
    border-style: none;
    border: 1px solid var(--cool-gray);
    padding: 1em;
    border-radius: 0.4em;
    font-family: 'Ubuntu-Medium', sans-serif;
    font-size: 0.9em;
}

.labels {
    margin-bottom: 0.5em;
    font-family: 'Ubuntu-Regular', sans-serif;
    color: var(--marina-blue);
}

.span {
    margin-top: 0.5em;
    font-family: 'Ubuntu-Regular', sans-serif;
    display: none;
}

.required {
    color: var(--strawberry-red);
}

